body {
    background: rgba(255, 0, 0, .5);
    color: wheat;
    margin: 0;
    padding: 0;
}
body > header > h3{
    background: #fff;
    color: black;
}
h3 {
    color: aqua;
}
body h3 {
    color: red;
}
h1{
    float: left;
}
h3 {
    padding: 30px;
    margin-left:250px;
}
